body{
    margin: 0;
    padding: 0;
    background: rgb(246, 238, 224);
}
.navbar ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(255,229,180);
    height: 40px;
    padding: 0 20px;
}
.navbar li {
    float: left;
}
.navbar li:nth-last-child(1) {
    float: right;
}
.navbar a {
    color: rgb(164, 92, 64);
    font-size: 30px;
    text-decoration: none;
    display: block;
    padding: 0 20px;
    height: 40px;
}
.navbar #active {
    background-color: rgb(195, 131, 112);
    color: rgb(246, 238, 224);
}
.container {
    display: flex;
    justify-content: center;
    margin: 40px 0 auto 0;
}
table, tr, th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    border-collapse: collapse;
    text-align: center;
    font-size: 105%;
}
th {
    background: rgb(195, 131, 112);
}
th:nth-last-child(1) {
    width: 60px;
}
tr:nth-child(odd) {
    background-color: rgb(228, 183, 160);
}
form {
    font-size: 105%;
}
fieldset {
    width: 100%;
    padding: 20px;
}
button, input[type=submit] {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 105%;
}
.container .card table tr button {
    margin-bottom: 5px;
}
input[type=number], input[type=date] {
    width: 100%;
    font-size: 105%;
}