body {
    margin: 0;
    padding: 0;
    background-color: rgb(228, 183, 160);
}
.container {
    width: fit-content;
    position: absolute;
    top: 30%;
    left: 38%;
}
.container .card form {
    background-color: rgb(246, 238, 224);
    padding: 20px 30px;
    width: 300px;
    height: fit-content;
    font-size: 105%;
}
a {
    color: black;
}
input[type=text], input[type=password] {
    width: 100%;
    font-size: 105%;
}
input[type=submit] {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 105%;
}